<nav id="navigation-main" class="navbar navbar-default navbar-fixed-top" role="navigation">
    {{#link-to 'map' class="btn btn-default navbar-btn"}}Back{{/link-to}}
    {{#link-to 'notes' class="btn btn-default navbar-btn"}}Notes{{/link-to}}
    {{!--#link-to 'notes.create' class="btn btn-default navbar-btn"}}New Note{{/link-to--}}
    <a class="btn btn-default navbar-btn" data-toggle="modal" data-target="#myModal">New note</a>
</nav>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  	<div class="modal-dialog">
    	<div class="modal-content">
      		<div class="modal-header">
        		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        		<h4 class="modal-title" id="myModalLabel">Modal title</h4>
      		</div>
     		 <form role="form">
	      		<div class="modal-body">
	        
			  		<div class="form-group">
			    		{{view Ember.TextField valueBinding="model.newNote.title" class="form-control" placeholder="give your note's title"}}
			    		{{view Ember.TextArea valueBinding="model.newNote.content" class="form-control" placeholder="give your note's content" }}
			  		</div>
			
	      		</div>
	      		<div class="modal-footer">
	        		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	        		<button type="submit" class="btn btn-primary" {{action 'save'}} data-dismiss="modal">Save changes</button>
	      		</div>
    		</form>
    	</div>
  	</div>
</div>

{{#each model.notes}}

<div class="panel panel-default">
  <div class="panel-body">
    {{ format-date postedAt }}: {{ title }}
  </div>
</div>

{{/each}}


{{outlet}}
